<div class="content-container">
  <form>
    <select (change)="onChange($event.target.value)">
      <option *ngFor="let category of categories" [value]="category._id">
        {{category.categoryName}}
      </option>
    </select>
    <input type="text" [(ngModel)]="name" placeholder="name" [ngModelOptions]="{standalone: true}">
    <input id="custom-input" type="file" accept="image/x-png,image/jpeg" (change)="fileChangeListener($event)">
    <button type="button" (click)="add()">Add Content</button>
  </form>
</div>
